<!DOCTYPE html>
<html>
  <head>
    <title>MywebApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container clear">
        <div class="header_items">
          <div class="header_left">
            <h2 class="header_title"><%= link_to 'GO_channel', root_path %></h2>
          </div>
          <div class="header_right">
            <ul class="header_list">
              <li class="header_list_item">投稿する</li>
              <%= link_to '投稿内容一覧', articles_path, class: 'header_list_item' %>
              <li class="header_list_item">チャット</li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
